@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Weather and businesses</h1>
    <p><a href="https://localhost:44379/api/CityInfo">Show weather and businesses in Bologna, Jesi, New York, London and Berlin </a>.</p>
    <p><a href="https://localhost:44379/api/CityInfo/Bologna">Show weather and businesses in Bologna</a>.</p>
    <p><a href="https://localhost:44379/api/CityInfo/Jesi">Show weather and businesses in Jesi</a>.</p>
    <p><a href="https://localhost:44379/api/CityInfo/New%20York">Show weather and businesses in New York</a>.</p>
    <p><a href="https://localhost:44379/api/CityInfo/London">Show weather and businesses in London</a>.</p>
    <p><a href="https://localhost:44379/api/CityInfo/Berlin">Show weather and businesses in Berlin</a>.</p>
</div>
